<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GIS</title>
    <style>
        body,html{
            padding: 0px;
            margin: 0px 0px 0px 0px;
            width:100%;
            height:100%;
        }
        #view{
            margin-top: 0px;
            padding-top: 50px;
            width: 100%;
            height: 100%;
            z-index: 3;
        }
        /*#overviewDiv{*/
            /*margin-top: -220px;*/
            /*margin-left: 70%;*/
            /*position: absolute;*/
            /*width:400px;*/
            /*height:200px;*/
        /*}*/
        #overviewDiv {
            position: absolute;
            bottom: 20px;
            right: 40px;
            width: 300px;
            height: 200px;
            border: 1px solid black;
            z-index: 1;
            overflow: hidden;
        }
        #extentDiv {
            background-color: rgba(0, 0, 0, 0.5);
            position: absolute;
            z-index: 2;
        }
        #iframe{
            bottom: 250px;
            right: 40px;
            z-index: 100;
            position: absolute;
            width: 300px;
            height: 200px;
            /*display: none;*/
        }

        /*#visible{*/
            /*z-index: 99;*/
            /*border-radius: 8px;*/
            /*padding: 10px;*/
            /*opacity: 0.75;*/
            /*font-size: 10px;*/
        /*}*/
        .mapView {
            height: 400px;
            border: 1px solid #A8A8A8;
        }

        .esri-popup.esri-widget {
            max-height: 100%;
        }

        .esri-view-width-xlarge .esri-popup__main-container {
            width: 180px;
        }

        .esri-view-height-less-than-medium .esri-popup__main-container {
            max-height: 300px;
        }
        #message{
            width:10px;
            height:10px;
            z-index:99;
            background-color: white;
            position: absolute;
        }




        #forkongithub a {
            background: #000;
            color: #fff;
            text-decoration: none;
            font-family: arial, sans-serif;
            text-align: center;
            font-weight: bold;
            padding: 5px 40px;
            font-size: 1rem;
            line-height: 2rem;
            position: relative;
            transition: 0.5s;
        }

        #forkongithub a:hover {
            background: #c11;
            color: #fff;
        }

        #forkongithub a::before, #forkongithub a::after {
            content: "";
            width: 100%;
            display: block;
            position: absolute;
            top: 1px;
            left: 0;
            height: 1px;
            background: #fff;
        }

        #forkongithub a::after {
            bottom: 1px;
            top: auto;
        }

        @media screen and (min-width: 800px) {
            #forkongithub {
                position: fixed;
                display: block;
                top: 0;
                right: 0;
                width: 200px;
                overflow: hidden;
                height: 200px;
                z-index: 9999;
            }

            #forkongithub a {
                width: 200px;
                position: absolute;
                top: 60px;
                right: -60px;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
            }
        }
    </style>


    <script>
        var dojoConfig = {
            paths: {
                plugins: "/plugins"
            }
        };
    </script>
    <script th:src="@{/webjars/jquery/1.11.1/jquery.js}"></script>
    <script src="/webjars/bootstrap/4.0.0/js/bootstrap.js" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.js}"></script>
    <script src="http://localhost:8081/js/library/4.10/init.js"></script>
    <!--<script src="http://localhost/arcgis_js_v410_api/arcgis_js_api/library/4.10/dojo/dojo.js"></script>-->
    <!--<script src="https://js.arcgis.com/4.10/"></script>-->
    <script src="/js/windy.js"></script>

    <link rel="stylesheet" href="http://localhost:8081/js/library/4.10/esri/css/main.css">
    <!--<link rel="stylesheet" href="/js/library/4.10/dijit/themes/claro/claro.css">-->
    <!--<link rel="stylesheet" href="https://js.arcgis.com/4.10/esri/css/main.css">-->
    <link rel="stylesheet" href="/webjars/bootstrap/4.0.0/css/bootstrap.css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.css}">

    <script type="text/javascript"  th:inline="none">
        require([
            "esri/Map",
            "esri/views/SceneView",
            "esri/views/MapView",
            "esri/WebScene",


            "esri/WebMap",
            "esri/layers/SceneLayer",
            "esri/layers/FeatureLayer",
            "esri/layers/MapImageLayer",//可以加载动态图层

            "esri/layers/TileLayer",//平铺图层
            "esri/tasks/support/Query",//查询图层

            "esri/tasks/QueryTask",
            "esri/Graphic",//画点
            "esri/geometry/Point",

            "esri/symbols/SimpleMarkerSymbol",
            "esri/geometry/Polyline",//画线

            "esri/symbols/SimpleLineSymbol",

            "esri/tasks/Locator",
            "esri/widgets/BasemapToggle",//小组件
            "esri/widgets/CoordinateConversion",
            "esri/widgets/Expand",
            "esri/widgets/BasemapGallery",
            "esri/widgets/Search",


            "esri/widgets/LayerList",
            // "dojo/dom",
            "esri/core/watchUtils",//鹰眼

            "dojo/promise/all",

            // "plugins/RasterLayer",//风场
            "esri/request",
            "dojo/parser",
            "dojo/number",
            "dojo/json",
            "dojo/dom",
            "esri/layers/ImageryLayer",
            "plugins/RasterLayerForGIS",
            "esri/layers/WebTileLayer",
            "esri/config",
            "dijit/registry",
            "esri/layers/BaseTileLayer",
            "esri/domUtils",

            "esri/widgets/DirectLineMeasurement3D",
            "esri/widgets/AreaMeasurement3D",


            "dojo/domReady!"
        ],function(Map,SceneView,MapView,WebScene,WebMap,SceneLayer,
                   FeatureLayer,MapImageLayer,TileLayer,Query,QueryTask,
                   Graphic,Point,SimpleMarkerSymbol,Polyline,SimpleLineSymbol,Locator,
                   BasemapToggle,CoordinateConversion,Expand,BasemapGallery,Search,
                   LayerList,watchUtils,all,esriRequest,parser, number, JSON, dom,ImageryLayer,RasterLayerForGIS,
                   WebTileLayer,config,registry,BaseTileLayer,domUtils,DirectLineMeasurement3D,AreaMeasurement3D){
            //进行图层的查询
//            var query=new Query({
//                where:" X likes '%3%'",
//                outFields:["*"],
//                returnGeometry:true
//            });
//            var queryTask=new QueryTask({
//                url:"https://services9.arcgis.com/8K0xsogbMB6Bg155/arcgis/rest/services/test/FeatureServer"
//            });
//            queryTask.execute(query)
//                .then(function(result){
//                console.log(result)
//            })
//                .otherwise(function(e){
//                    console.log(e);
//                });

            /****
             * 图层定义
             * ######################################################################################
             */
                //点的样式########################################################################
            var trailheadsRenderer = {
                    "type": "simple",
                    "symbol": {
                        "type": "picture-marker",
                        "url": "http://static.arcgis.com/images/Symbols/NPS/npsPictograph_0231b.png",
                        "width": 20.5,
                        "height": 20.5
                    }
                }
            /**
             * 自定义提示框
             */
            var trailHeads={
                "title":"position",
                "content":"<b>position</b> <br> <b>X:</b>{X} <br> <b>Y</b> {Y} <br> <b>Note</b> {note}"//数据从图层的outFields获取
            }
            /**
             * 上海崇明岛图层
             */
            var featureLayer = new FeatureLayer("https://services9.arcgis.com/8K0xsogbMB6Bg155/arcgis/rest/services/test/FeatureServer",{
                mode: FeatureLayer.MODE_SNAPSHOT,
                outFields: ["X","Y","note"],//输出给提示框的内容
                renderer:trailheadsRenderer,
                popupTemplate:trailHeads
            });

            /**
             * 美洲海岸图层
             */
            var featureLayerOcean=new FeatureLayer({//人工珊瑚礁
                url:"https://services.arcgis.com/nGt4QxSblgDfeJn9/arcgis/rest/services/South_Florida_Data/FeatureServer/0",
                // mode: FeatureLayer.MODE_SNAPSHOT
            });
            var featureLayerOcean1=new FeatureLayer({//水深轮廓
                url:"https://services.arcgis.com/nGt4QxSblgDfeJn9/arcgis/rest/services/South_Florida_Data/FeatureServer/1"
            });
            var featureLayerOcean2=new FeatureLayer({//海洋表面
                url:"https://services.arcgis.com/nGt4QxSblgDfeJn9/arcgis/rest/services/South_Florida_Data/FeatureServer/2"
            });
            var featureLayerOcean3=new FeatureLayer({//珊瑚礁和殖民地
                url:"https://services.arcgis.com/nGt4QxSblgDfeJn9/arcgis/rest/services/South_Florida_Data/FeatureServer/3"
            });
            var featureLayerOcean4=new FeatureLayer({//沉积物
                url:"https://services.arcgis.com/nGt4QxSblgDfeJn9/arcgis/rest/services/South_Florida_Data/FeatureServer/4"
            });
            var featureLayerOcean5=new FeatureLayer({//其他
                url:"https://services.arcgis.com/nGt4QxSblgDfeJn9/arcgis/rest/services/South_Florida_Data/FeatureServer/5"
            });

            /***
             * 海岸线图层
             * tileLayer用于创建二维图层
             */
            var tileLayer=new TileLayer({
                url:"https://services.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/3",
                opacity: 0.7,  //定义透明度
                id:"HA",//定义图层的id
                visible:true//定义是否可见
            });
            var tileLayer1=new TileLayer({
                url:"https://tiles.arcgis.com/tiles/bDAhvQYMG4WL8O5o/arcgis/rest/services/PBC_Bathy_Drape_Tiles4/MapServer/1",
                opacity:0.6,
                visible:true
            });
            var mapImageLayer=new MapImageLayer({//可以有子层
                url:"https://tiles.arcgis.com/tiles/bDAhvQYMG4WL8O5o/arcgis/rest/services/PBC_Bathy_Drape_Tiles4/MapServer/1"
            });
            /**
             * 3D场景图
             */
            var sceneLayer=new SceneLayer({
                url:"https://services.arcgis.com/nGt4QxSblgDfeJn9/arcgis/rest/services/South_Florida_Data/FeatureServer"
            });



            //地图和场景定义
            var map=new Map({
                basemap:"oceans",
                ground:"world-elevation",//这个是给3D图用的
                layers:[tileLayer1]//可以直接加入tileLayer（2D图层）
            });
            var view=new SceneView({
                map:map,
                scale:5000,//设置比例尺
                container:"view",
//                center:[121.9869518280,31.5195079847],//上海
//                 center:[-80.046,26.733],//美洲
                center:[111.21, 18.05],
                zoom:12,//放大级别
                elevationInfo: {//海拔信息
                    mode: "absolute-height",
                    offset: 6
                },
                padding:{
                    right:0//整个地图会移动
                },
                camera: {
                    position: [111.21, 18.05,1000],//经纬度，高度(以m为单位的海拔)
                    tilt: 70,//倾斜角度
                    heading: 304
                },
                environment: {//指定环境
                    background: {
                        type: "color",
                        color: [1, 1, 4, 1]//背景颜色
                    },
                    lighting:{
                        directShadowsEnabled:true,//是否显示由太阳照射的阴影
                        ambientOcclusionEnabled:true,//是否显示环境遮挡着色
                        cameraTrackingEnabled:true//相机更改的时候是否执行更新当前的时间
                    },
                    starsEnabled: true,//是否显示星系
                    atmosphereEnabled: true//大气层可视化
                },
                atmosphere:{//场景气氛
                    quility:"high",
                    startsEnable:true
                },
                highlightOptions:{
                    color:[0,255,255],
                    fillOpacity:0.6
                },
                popup: {
                    actions: [],
                    dockEnabled: true,
                    dockOptions: {
                        buttonEnabled: true,
                        breakpoint: false
                    }
                }
            });

            var mapView = new SceneView({
                container: "overviewDiv",
                map: map,
                constraints: {
                    rotationEnabled: false
                },
                logo:false
            });
            mapView.ui.components = [];
            var extentDiv = document.getElementById("extentDiv");
            mapView.when(function() {///鹰眼图
                // Update the overview extent whenever the MapView or SceneView extent changes
                view.watch("extent", updateOverviewExtent);
                mapView.watch("extent", updateOverviewExtent);

                // Update the minimap overview when the main view becomes stationary
                watchUtils.when(view, "stationary", updateOverview);
                // watchUtils.when(view, ["extent"], updateOverviewExtent);
                // watchUtils.when(mapView, ["extent"], updateOverviewExtent);

                function updateOverview() {
                    // Animate the MapView to a zoomed-out scale so we get a nice overview.
                    // We use the "progress" callback of the goTo promise to update
                    // the overview extent while animating
                    mapView.goTo({
                        center: view.center,
                        scale: view.scale * 2 * Math.max(view.width/mapView.width, view.height/mapView.height)
                    });
                }

                function updateOverviewExtent() {
                    // Update the overview extent by converting the SceneView extent to the
                    // MapView screen coordinates and updating the extentDiv position.
                    var extent = view.extent;

                    var bottomLeft = mapView.toScreen(extent.xmin, extent.ymin);
                    var topRight = mapView.toScreen(extent.xmax, extent.ymax);

                    extentDiv.style.top = topRight.y + "px";
                    extentDiv.style.left = bottomLeft.x + "px";

                    extentDiv.style.height = (bottomLeft.y - topRight.y) + "px";
                    extentDiv.style.width = (topRight.x - bottomLeft.x) + "px";
                }
            });
//            var map = new WebMap({
//                portalItem: {
//                    id: "11fecfcd41384cebaf66a1c876193e9c"
//                },
//                ground:"world-elevation"
//            });

            map.add(featureLayer);
            map.add(tileLayer1);
            map.add(tileLayer);
            map.add(mapImageLayer);
            //
            map.add(featureLayerOcean);
            map.add(featureLayerOcean1);
            map.add(featureLayerOcean2);
            map.add(featureLayerOcean3);
            map.add(featureLayerOcean4);
            map.add(featureLayerOcean5);
            map.add(sceneLayer);


            //#######################小型插件定义#####################################################
            var toggle=new BasemapToggle({
                view:view,//当前视图
                nextBaseMap:tileLayer//切换的下一个地图
            });

            var ccWidget = new CoordinateConversion({//当前位置信息
                view: view
            });
            var basemapGallery = new BasemapGallery({
                view: view,
                container: document.createElement("div")
            });
            var bgExpand = new Expand({
                view: view,
                content: basemapGallery
            });

            // close the expand whenever a basemap is selected
            basemapGallery.watch("activeBasemap", function() {
                var mobileSize = view.heightBreakpoint === "xsmall" || view.widthBreakpoint === "xsmall";
                if (mobileSize) {
                    bgExpand.collapse();
                }
            });
            var search = new Search({//搜索框
                view: view
            });
            var layerList = new LayerList({//图层列表
                view: view
            });
            var layerExpand=new Expand({
               view:view,
               content:layerList
            });

            //距离测量
            var activeWidget = null;
            var iframe=document.getElementById("iframe");
            document.getElementById("distanceButton").addEventListener("click",
                function () {
                    iframe.style.display="none";
                    setActiveWidget(null);
                    if (!this.classList.contains('active')) {
                        setActiveWidget('distance');
                    } else {
                        setActiveButton(null);
                    }
                });

            document.getElementById("areaButton").addEventListener("click",
                function () {
                    iframe.style.display="none";
                    setActiveWidget(null);
                    if (!this.classList.contains('active')) {
                        setActiveWidget('area');
                    } else {
                        setActiveButton(null);
                    }
                });

            function setActiveWidget(type) {
                switch (type) {
                    case "distance":
                        activeWidget = new DirectLineMeasurement3D({
                            view: view
                        });

                        // skip the initial 'new measurement' button
                        activeWidget.viewModel.newMeasurement();

                        view.ui.add(activeWidget, "top-right");
                        setActiveButton(document.getElementById('distanceButton'));
                        break;
                    case "area":
                        activeWidget = new AreaMeasurement3D({
                            view: view
                        });

                        // skip the initial 'new measurement' button
                        activeWidget.viewModel.newMeasurement();

                        view.ui.add(activeWidget, "top-right");
                        setActiveButton(document.getElementById('areaButton'));
                        break;
                    case null:
                        if (activeWidget) {
                            iframe.style.display="";
                            view.ui.remove(activeWidget);
                            activeWidget.destroy();
                            activeWidget = null;
                        }
                        break;
                }
            }

            function setActiveButton(selectedButton) {
                // focus the view to activate keyboard shortcuts for sketching
                view.focus();
                var elements = document.getElementsByClassName("active");
                for (var i = 0; i < elements.length; i++) {
                    elements[i].classList.remove("active");
                }
                if (selectedButton) {
                    selectedButton.classList.add("active");
                }
            }

            view.ui.add(ccWidget, "bottom-left");//添加比例尺
            view.ui.add(search, "top-right");//搜索框
            view.ui.add(bgExpand, "top-left");
            view.ui.add(layerExpand, "top-left");
            view.ui.add(toggle,"top-left");//当前视图，下一个视图
            // view.ui.add("line-button","top-middle");

            //############################风流场实现###########################
            // var rasterLayer;
            // var canvasSupport;
            // var windy;
            // parser.parse();
            // // does the browser support canvas?
            // canvasSupport = supports_canvas();
            // map.on("load", mapLoaded());
            //
            // function mapLoaded() {
            //     console.log("mapLoad");
            //     if ( canvasSupport ) {
            //         // Add raster layer
            //         console.log("canvas");
            //         rasterLayer = new RasterLayerForGIS(null,{
            //             opacity: 0.55
            //         });
            //         map.add(rasterLayer);
            //
            //         map.on("extent-change", redraw);
            //         map.on("resize", function(){});
            //         map.on("zoom-start", redraw);
            //         map.on("pan-start", redraw);
            //
            //         var layersRequest = esriRequest({
            //             url: '/json/gfs.json',
            //             content: {},
            //             handleAs: "json"
            //         });
            //         layersRequest.then(
            //             function(response) {
            //                 windy = new Windy({ canvas: rasterLayer._element, data: response });
            //                 redraw();
            //             }, function(error) {
            //                 console.log("Error: ", error.message);
            //             });
            //
            //     } else {
            //         document.getElementById("mapCanvas").innerHTML = "This browser doesn't support canvas. Visit <a target='_blank' href='http://www.caniuse.com/#search=canvas'>caniuse.com</a> for supported browsers";
            //     }
            // }
            //
            // // does the browser support canvas?
            // function supports_canvas() {
            //     return !!document.createElement("canvas").getContext;
            // }
            //
            // function redraw(){
            //     console.log("lalal");
            //     rasterLayer._element.width = map.width;
            //     rasterLayer._element.height = map.height;
            //
            //     windy.stop();
            //
            //     var extent = map.extent;
            //     setTimeout(function(){
            //         windy.start(
            //             [[0,0],[map.width, map.height]],
            //             map.width,
            //             map.height,
            //             [[extent.xmin, extent.ymin],[extent.xmax, extent.ymax]]
            //         );
            //     },500);
            // }




            /***
             * 定义弹出框
             */
//            var locatorTask = new Locator({
//                url: "https://geocode.arcgis.com/arcgis/rest/services/World/GeocodeServer"
//            });





            /***
             * 数据和事件定义
             */
            console.log(view.graphics);
            var position=[0,1,2,3,4,5,6,9,8,9,10];
            position[0]=[31.52,121.08];//纬度，经度
            position[1]=[31.53,121.18];
            position[2]=[31.6,121.28];
            position[3]=[31.71,121.38];
            position[4]=[31.81,121.58];
            position[5]=[31.54,121.58];
            position[6]=[31.55,121.78];
            position[7]=[31.56,121.88];
            position[8]=[31.51,121.98];
            position[9]=[31.52,121.08];

            var positionOcean=[0,1,2,3,4,5,6,9,8,9,10];
            positionOcean[0]=[-80.03,26.76];
            positionOcean[1]=[-80.03,26.77];
            positionOcean[2]=[-80.07,26.33];
            positionOcean[3]=[-80.06,26.43];
            positionOcean[4]=[-80.04,26.53];
            positionOcean[5]=[-80.02,26.69];
            positionOcean[6]=[-80.03,26.73];
            positionOcean[7]=[-80.05,26.89];
            positionOcean[8]=[-80.05,26.91];
            positionOcean[9]=[-80.06,26.94];
            positionOcean[10]=[-80.04,26.77];

            /**
             风场图按钮事件
             */
            $(document).keydown(function (event) {
                var iframe=document.getElementById("iframe");
                if (event.keyCode==66){
                    console.log("66");
                    iframe.style.width=100+"%";
                    iframe.style.height=100+"%";
                    iframe.style.right=0;
                    iframe.style.bottom=0;
                    iframe.style.display="";
                }
                if (event.keyCode==83) {
                    console.log("83");
                    iframe.style.width=300+"px";
                    iframe.style.height=200+"px";
                    iframe.style.right=40+"px";
                    iframe.style.bottom=250+"px";
                    iframe.style.display="none";
                }
            });
            /***
             *
             * 标签点击事件
             */
            document.getElementById("tag1").addEventListener("click",function () {
                view.goTo({
                    target:[10,20]
                });
            })

            view.when(function () {
                view.popup.autoOpenEnabled = false;
                console.log(view.popup);
                view.on("click",function(event){//鼠标点击事件
                    if (event && event.mapPoint){
                        var message=document.getElementById("message");
                        console.log("do it");
                        var lon=Math.round(event.mapPoint.longitude*1000)/1000;
                        var lat=Math.round(event.mapPoint.latitude*1000)/1000;
                        var hei=Math.round(event.mapPoint.height*1000)/1000;

                        view.popup.open({
                            title: "所在位置: [" + lon + ", " + lat + ","+hei+"]",
                            location: event.mapPoint,// Set the location of the popup to the clicked location
                            content: setContentInfo(
                                view.center,
                                view.scale
                            )
                        });
                        console.log(lon);
                        message.innerHTML = "经度："+lat+ ",维度：" +lon;
                    }else {
                        view.popup.open({
                            // Set the popup's title to the coordinates of the location
                            title: "Invalid point location",
                            location: event.mapPoint, // Set the location of the popup to the clicked location
                            content: "Please click on a valid location."
                        });
                    }
                    function setContentInfo(center, scale) {
                        var popupDiv = document.createElement("div");
                        popupDiv.classList.add("mapView");

                        var popupView = new SceneView({
                            container: popupDiv,
                            // map: new Map({
                            //     basemap: "oceans"
                            // }),
                            map:map,
                            center: center,
                            camera:view.camera,
                            scale: scale * 1000 * Math.max(view.width / 100, view.height / 100),
                            constraints: {
                                rotationEnabled: false
                            },
                            ui: {
                                components: []
                            }
                        });
                        // Return a dom node
                        console.log(popupView.container);
                        return popupView.container;
                    }
                });
            });



            view.on("layerview-create",function(event){
                if(event.layer.id==='HA'){
                    console.log(event.layerView);
                }
            });
            //是否显示海岸线
            // var checkVisible=document.getElementById("canVisible");
            // checkVisible.addEventListener("change",function(){
            //     tileLayer1.visible=checkVisible.checked;
            // });

            function events(){
                view.on("key-down",function(event){
                    if(event.key=='1'){
                        map.add(featureLayerOcean);
                    }
                    if(event.key=='2'){
                        map.add(featureLayerOcean1);
                    }
                    if(event.key=='3'){
                        map.add(cjwFeatureLayerOcean);
                    }
                    if(event.key=='4'){
                        map.add(tileLayer);
                    }
                    if(event.key=='5'){
                        map.add(tileLayer1);
                    }
                    if(event.key=='6'){
                        map.add(sceneLayer);
                    }
                    if(event.key=='w'){
                        var polyline = new Polyline({
                            paths: [
                                position[0],
                                position[1]
                            ]
                        });
                        console.log(polyline);

                        // Create a symbol for drawing the line
                        var lineSymbol = new SimpleLineSymbol({
                            color: [226, 119, 40],
                            width: 10
                        });

                        // Create a line graphic
                        var polylineGraphic = new Graphic({
                            geometry: polyline,
                            symbol: lineSymbol
                        })

                        // Add the graphic to the view
                        view.graphics.add(polylineGraphic);
                        for(var i=0;i<position.length-1;i++){
                            var polyline = new Polyline({
                                paths: [
                                    position[i],
                                    position[i+1]
                                ]
                            });
                            console.log(polyline);

                            // Create a symbol for drawing the line
                            var lineSymbol = new SimpleLineSymbol({
                                color: [226, 119, 40],
                                width: 10
                            });

                            // Create a line graphic
                            var polylineGraphic = new Graphic({
                                geometry: polyline,
                                symbol: lineSymbol
                            })

                            // Add the graphic to the view
                            view.graphics.add(polylineGraphic);
                            console.log("do it");
                        }
                    }
                    if(event.key==='d'){
                        var options = {
                            speedFactor: 0.3, //与正常情况下相比的速度
                            easing: "out-quint"//到达时会有一个减速动作
                        };
                        var i=0;
                        var timer=window.setInterval(move,4000);
                        function move(){
                            var tempPosition=positionOcean[i];

                            var point=new Point();
                            point.longitude=tempPosition[0];
                            point.latitude=tempPosition[1];

                            var symbol=new SimpleMarkerSymbol({
                                color:[226,119,40],
                                outline:{
                                    color:[255,255,255],
                                    width:3
                                }
                            });

                            var pointGraphic=new Graphic();
                            pointGraphic.geometry=point;
                            pointGraphic.symbol=symbol;
                            view.graphics.add(pointGraphic);
                            view.goTo({
                                target:pointGraphic,
                                zoom:12
                            },options);
                            i++;
                            if(i===positionOcean.length){
                                window.clearInterval(timer);
                            }
                        }
                    }
                    if(event.key=='a') {
                        var options = {
                            speedFactor: 0.1, //与正常情况下相比的速度
                            easing: "out-quint"//到达时会有一个减速动作
                        };
                        view.goTo({
                            target:[121.08,31.52],
                            zoom:10
                        });
                        setTimeout(10000);
                        if(view.center.longitude!==121.08 && view.center.latitude!==31.52){
                            setTimeout(20000);
                            console.log(view.center);
                        }
                        var timer=window.setInterval(move,3000);
                        var i=0;
                        var highLight=null;
                        function move () {

                            var value=position[i];
                            var point = new Point();
                            var markerSymbol = new SimpleMarkerSymbol({
                                color: [226, 119, 40],
                                outline: {
                                    color: [255, 255, 255],
                                    width: 1
                                }
                            });
                            var pointGraphic = new Graphic();
                            point.longitude = value[1];
                            point.latitude = value[0];

                            pointGraphic.geometry = point;
                            pointGraphic.symbol = markerSymbol;

                            view.goTo({
                                target: pointGraphic
                                // zoom:11
                            });
                            setTimeout(function () {
                                view.goTo({
                                    target: pointGraphic
                                    // zoom:11
                                },options);
                            },3000);
                            i++;
                            if(i===position.length){

                           // window.clearTimeout(timer);
                                window.clearInterval(timer);
                            }
                        };

                    }
                    var iframe=document.getElementById("iframe");
                    if (event.key==='z'){
                        console.log("123");
                        iframe.style.width=100+"%";
                        iframe.style.height=100+"%";
                        iframe.style.right=0;
                        iframe.style.bottom=0;
                    }
                    if (event.key==='x'){
                        console.log("123");
                        iframe.style.width=300+"px";
                        iframe.style.height=200+"px";
                        iframe.style.right=40+"px";
                        iframe.style.bottom=250+"px";
                    }

                });
            };
            events();

        });
    </script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <img th:src="@{/topbar.jpg}" style="width: 30px;height: 30px;margin-top: 10px">
                <!--<a class="navbar-brand" href="#">海洋GIS</a>-->
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class=""><a href="/windy.html" th:href="@{/windy}">GIS1</a></li>
                    <li><a href="#">GIS2</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            标签 <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a id="tag1" href="#">1</a></li>
                            <li><a id="tag2" href="#">2</a></li>
                            <li><a id="tag3" href="#">3</a></li>
                            <li class="divider"></li>
                            <li><a id="tag4" href="#">4</a></li>
                            <li class="divider"></li>
                            <li><a id="tag5" href="#">5</a></li>
                        </ul>
                    </li>
                </ul>
                <!--<form class="navbar-form navbar-right" th:action="${'#'}" th:method="${'post'}">-->
                    <!--<div class="form-group">-->
                        <!--<input type="text" class="form-control" placeholder="输入经纬度，隔开">-->
                    <!--</div>-->
                    <!--<button type="submit" class="btn btn-default">查找</button>-->
                <!--</form>-->
            </div>
        </div>
    </nav>
    <!--<ul class="navbar-nav">-->
    <!--<li class="nav-item">-->
    <!--<a class="nav-link" href="#">GIS</a>-->
    <!--</li>-->
    <!--<li class="nav-item">-->
    <!--<a class="nav-link" href="#">GIS2</a>-->
    <!--</li>-->
    <!--<li class="nav-item">-->
    <!--<a class="nav-link" href="#">GIS2</a>-->
    <!--</li>-->
    <!--</ul>-->
    <!--<span class="navbar-text" >-->
    <!--Navbar text-->
    <!--</span>-->
    <!--<span id="visible" class="navbar-text" th:class="${'glyphicon glyphicon-eye-open navbar-text'}">-->
    <!--<input type="checkbox" id="canVisible" class="navbar-text"/>-->
    <!--海岸线可见性-->
    <!--</span>-->
    <!--<span class="glyphicon glyphicon-home" aria-hidden="true">-->
    <!--lalala-->
    <!--</span>-->
    <!--<button type="button" class="btn btn-default navbar-btn">Sign in</button>-->
    <iframe id="iframe"  src="" th:src="@{/windy}" >
        <p>Your browser does not support iframes.</p>
    </iframe>
    <div id="view">
        <button id="distanceButton" class=" action-button esri-widget esri-widget--button esri-interactive esri-icon-polyline" title="画线">
            <!--<span class="esri-icon-polyline"></span>-->
        </button>
        <button id="areaButton" class="action-button esri-widget esri-widget--button esri-interactive esri-icon-polygon" title="画面">
            <!--<span class="esri-icon-polygon"></span>-->
        </button>
        <!--<div id="point-button" class="esri-widget esri-widget&#45;&#45;button esri-interactive" title="画点">-->
            <!--<span class="esri-icon-radio-checked"></span>-->
        <!--</div>-->
        <!--<div id="circle-button" class="esri-widget esri-widget&#45;&#45;button esri-interactive" title="画圆">-->
            <!--<span class="esri-icon-radio-unchecked"></span>-->
        <!--</div>-->
        <!--<div id="rectangle-button" class="esri-widget esri-widget&#45;&#45;button esri-interactive" title="画矩形">-->
            <!--<span class="esri-icon-checkbox-unchecked"></span>-->
        <!--</div>-->
        <div id="message" style="width:160px;font-size: 10px; color: #000000;position:absolute; left:50%; bottom:16px;z-index: 50;"></div>
    </div>
    <div id="overviewDiv">
        <div id="extentDiv"></div>
    </div>

</body>
</html>