<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GIS</title>
    <style>
        body,html{
            padding: 0px;
            margin: 0px 0px 0px 0px;
            width:100%;
            height:100%;
        }
        #view{
            margin-top: 0px;
            padding-top: 50px;
            width: 100%;
            height: 100%;
            z-index: 99;
        }
        /*#overviewDiv{*/
            /*margin-top: -220px;*/
            /*margin-left: 70%;*/
            /*position: absolute;*/
            /*width:400px;*/
            /*height:200px;*/
        /*}*/
        #overviewDiv {
            position: absolute;
            bottom: 20px;
            right: 40px;
            width: 300px;
            height: 200px;
            border: 1px solid black;
            z-index: 1;
            overflow: hidden;
        }
        #extentDiv {
            background-color: rgba(0, 0, 0, 0.5);
            position: absolute;
            z-index: 2;
        }

        /*#visible{*/
            /*z-index: 99;*/
            /*border-radius: 8px;*/
            /*padding: 10px;*/
            /*opacity: 0.75;*/
            /*font-size: 10px;*/
        /*}*/
        .mapView {
            height: 400px;
            border: 1px solid #A8A8A8;
        }

        .esri-popup.esri-widget {
            max-height: 100%;
        }

        .esri-view-width-xlarge .esri-popup__main-container {
            width: 180px;
        }

        .esri-view-height-less-than-medium .esri-popup__main-container {
            max-height: 300px;
        }
        #message{
            width:10px;
            height:10px;
            z-index:99;
            background-color: white;
            position: absolute;
        }
    </style>




    <script th:src="@{/webjars/jquery/1.11.1/jquery.js}"></script>
    <script src="/webjars/bootstrap/4.0.0/js/bootstrap.js" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.js}"></script>
    <script src="https://js.arcgis.com/4.10/"></script>

    <link rel="stylesheet" href="https://js.arcgis.com/4.10/esri/css/main.css">
    <link rel="stylesheet" href="/webjars/bootstrap/4.0.0/css/bootstrap.css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.css}">

    <script>
        require([
            "esri/Map",
            "esri/views/SceneView",
            "esri/views/MapView",
            "esri/WebScene",
            "esri/WebMap",
            // "esri/dijit/OverviewMap",

            "esri/layers/SceneLayer",
            "esri/layers/FeatureLayer",
            "esri/layers/MapImageLayer",//可以加载动态图层
            "esri/layers/TileLayer",//平铺图层

            "esri/tasks/support/Query",//查询图层
            "esri/tasks/QueryTask",

            "esri/Graphic",//画点
            "esri/geometry/Point",
            "esri/symbols/SimpleMarkerSymbol",

            "esri/geometry/Polyline",//画线
            "esri/symbols/SimpleLineSymbol",

            "esri/tasks/Locator",

            "esri/widgets/BasemapToggle",//小组件
            "esri/widgets/CoordinateConversion",
            "esri/widgets/Expand",
            "esri/widgets/BasemapGallery",
            "esri/widgets/Search",
            "esri/widgets/LayerList",


            "esri/core/watchUtils",
            "dojo/dom",
            "dojo/promise/all",
            "dojo/domReady!"
        ],function(Map,SceneView,WebScene,WebMap,MapView,SceneLayer,FeatureLayer,MapImageLayer,TileLayer,
                   Query,QueryTask,Graphic,Point,SimpleMarkerSymbol,Polyline,SimpleLineSymbol,Locator,
                   BasemapToggle,CoordinateConversion,Expand,BasemapGallery,Search,LayerList,
                   watchUtils,dom,all){
            //进行图层的查询
//            var query=new Query({
//                where:" X likes '%3%'",
//                outFields:["*"],
//                returnGeometry:true
//            });
//            var queryTask=new QueryTask({
//                url:"https://services9.arcgis.com/8K0xsogbMB6Bg155/arcgis/rest/services/test/FeatureServer"
//            });
//            queryTask.execute(query)
//                .then(function(result){
//                console.log(result)
//            })
//                .otherwise(function(e){
//                    console.log(e);
//                });

            /****
             * 图层定义
             * ######################################################################################
             */
                //点的样式########################################################################
            var trailheadsRenderer = {
                    "type": "simple",
                    "symbol": {
                        "type": "picture-marker",
                        "url": "http://static.arcgis.com/images/Symbols/NPS/npsPictograph_0231b.png",
                        "width": 20.5,
                        "height": 20.5
                    }
                }
            /**
             * 自定义提示框
             */
            var trailHeads={
                "title":"position",
                "content":"<b>position</b> <br> <b>X:</b>{X} <br> <b>Y</b> {Y} <br> <b>Note</b> {note}"//数据从图层的outFields获取
            }
            /**
             * 上海崇明岛图层
             */
            var featureLayer = new FeatureLayer("https://services9.arcgis.com/8K0xsogbMB6Bg155/arcgis/rest/services/test/FeatureServer",{
                mode: FeatureLayer.MODE_SNAPSHOT,
                outFields: ["X","Y","note"],//输出给提示框的内容
                renderer:trailheadsRenderer,
                popupTemplate:trailHeads
            });

            /**
             * 美洲海岸图层
             */
            var featureLayerOcean=new FeatureLayer({//人工珊瑚礁
                url:"https://services.arcgis.com/nGt4QxSblgDfeJn9/arcgis/rest/services/South_Florida_Data/FeatureServer/0",
                // mode: FeatureLayer.MODE_SNAPSHOT
            });
            var featureLayerOcean1=new FeatureLayer({//水深轮廓
                url:"https://services.arcgis.com/nGt4QxSblgDfeJn9/arcgis/rest/services/South_Florida_Data/FeatureServer/1"
            });
            var featureLayerOcean2=new FeatureLayer({//海洋表面
                url:"https://services.arcgis.com/nGt4QxSblgDfeJn9/arcgis/rest/services/South_Florida_Data/FeatureServer/2"
            });
            var featureLayerOcean3=new FeatureLayer({//珊瑚礁和殖民地
                url:"https://services.arcgis.com/nGt4QxSblgDfeJn9/arcgis/rest/services/South_Florida_Data/FeatureServer/3"
            });
            var featureLayerOcean4=new FeatureLayer({//沉积物
                url:"https://services.arcgis.com/nGt4QxSblgDfeJn9/arcgis/rest/services/South_Florida_Data/FeatureServer/4"
            });
            var featureLayerOcean5=new FeatureLayer({//其他
                url:"https://services.arcgis.com/nGt4QxSblgDfeJn9/arcgis/rest/services/South_Florida_Data/FeatureServer/5"
            });

            /***
             * 海岸线图层
             * tileLayer用于创建二维图层
             */
            var tileLayer=new TileLayer({
                url:"https://services.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/3",
                opacity: 0.7,  //定义透明度
                id:"HA",//定义图层的id
                visible:true//定义是否可见
            });
            var tileLayer1=new TileLayer({
                url:"https://tiles.arcgis.com/tiles/bDAhvQYMG4WL8O5o/arcgis/rest/services/PBC_Bathy_Drape_Tiles4/MapServer/1",
                opacity:0.6,
                visible:false
            });
            var mapImageLayer=new MapImageLayer({//可以有子层
                url:"https://tiles.arcgis.com/tiles/bDAhvQYMG4WL8O5o/arcgis/rest/services/PBC_Bathy_Drape_Tiles4/MapServer/1"
            });
            /**
             * 3D场景图
             */
            var sceneLayer=new SceneLayer({
                url:"https://services.arcgis.com/nGt4QxSblgDfeJn9/arcgis/rest/services/South_Florida_Data/FeatureServer"
            });



            //地图和场景定义
            var map=new Map({
                basemap:"oceans",
                ground:"world-elevation"//这个是给3D图用的
                // layers:[tileLayer]//可以直接加入tileLayer（2D图层）
            });
            var view=new SceneView({
                map:map,
                scale:5000,//设置比例尺
                container:"view",
//                center:[121.9869518280,31.5195079847],//上海
                center:[-80.046,26.733],//美洲
                zoom:12,//放大级别
                elevationInfo: {//海拔信息
                    mode: "absolute-height",
                    offset: 6
                },
                padding:{
                    right:0//整个地图会移动
                },
                camera: {
                    position: [-80.046,26.733, 70],//经纬度，高度(以m为单位的海拔)
                    tilt: 70,//倾斜角度
                    heading: 304
                },
                environment: {//指定环境
                    background: {
                        type: "color",
                        color: [1, 1, 4, 1]//背景颜色
                    },
                    lighting:{
                        directShadowsEnabled:true,//是否显示由太阳照射的阴影
                        ambientOcclusionEnabled:true,//是否显示环境遮挡着色
                        cameraTrackingEnabled:true//相机更改的时候是否执行更新当前的时间
                    },
                    starsEnabled: true,//是否显示星系
                    atmosphereEnabled: true//大气层可视化
                },
                atmosphere:{//场景气氛
                    quility:"high",
                    startsEnable:true
                },
                highlightOptions:{
                    color:[0,255,255],
                    fillOpacity:0.6
                },
                popup: {
                    actions: [],
                    dockEnabled: true,
                    dockOptions: {
                        buttonEnabled: true,
                        breakpoint: false
                    }
                }
            });

            var mapView = new SceneView({
                container: "overviewDiv",
                map: map,
                constraints: {
                    rotationEnabled: false
                }
            });
            mapView.ui.components = [];
            var extentDiv = document.getElementById("extentDiv");
            mapView.when(function() {
                // Update the overview extent whenever the MapView or SceneView extent changes
                view.watch("extent", updateOverviewExtent);
                view.watch("extent", updateOverviewExtent);

                // Update the minimap overview when the main view becomes stationary
                watchUtils.when(view, ["stationary","extent"], updateOverview);

                function updateOverview() {
                    // Animate the MapView to a zoomed-out scale so we get a nice overview.
                    // We use the "progress" callback of the goTo promise to update
                    // the overview extent while animating
                    mapView.goTo({
                        center: view.center,
                        scale: view.scale * 2 * Math.max(view.width /mapView.width, view.height/mapView.height)
                    });
                }

                function updateOverviewExtent() {
                    // Update the overview extent by converting the SceneView extent to the
                    // MapView screen coordinates and updating the extentDiv position.
                    var extent = view.extent;

                    var bottomLeft = mapView.toScreen(extent.xmin, extent.ymin);
                    var topRight = mapView.toScreen(extent.xmax, extent.ymax);

                    extentDiv.style.top = topRight.y + "px";
                    extentDiv.style.left = bottomLeft.x + "px";

                    extentDiv.style.height = (bottomLeft.y - topRight.y) + "px";
                    extentDiv.style.width = (topRight.x - bottomLeft.x) + "px";
                }
            });
//            var map = new WebMap({
//                portalItem: {
//                    id: "11fecfcd41384cebaf66a1c876193e9c"
//                },
//                ground:"world-elevation"
//            });


            //#######################小型插件定义#####################################################
            var toggle=new BasemapToggle({
                view:view,//当前视图
                nextBaseMap:tileLayer//切换的下一个地图
            });
            // var overViewMap=new OverviewMap({
            //     map: map, // 必要的
            //     visible: true,    // 初始化可见，默认为false
            //     attachTo: "bottom-right", // 默认右上角
            //     width: 310,   // 默认值是地图高度的 1/4th
            //     height: 150, // 默认值是地图高度的 1/4th
            //     opacity: 0.4,  // 透明度 默认0.5
            //     maximizeButton: true, // 最大化,最小化按钮，默认false
            //     expandFactor: 0.4,    //概览地图和总览图上显示的程度矩形的大小之间的比例。默认值是2，这意味着概览地图将至少是两倍的大小的程度矩形。
            //     color: "red"  // 默认
            // });
            // overViewMap.startup();
            var ccWidget = new CoordinateConversion({
                view: view
            });
            var basemapGallery = new BasemapGallery({
                view: view,
                container: document.createElement("div")
            });
            var bgExpand = new Expand({
                view: view,
                content: basemapGallery
            });

            // close the expand whenever a basemap is selected
            basemapGallery.watch("activeBasemap", function() {
                var mobileSize = view.heightBreakpoint === "xsmall" || view.widthBreakpoint === "xsmall";
                if (mobileSize) {
                    bgExpand.collapse();
                }
            });
            var search = new Search({
                view: view
            });
            var layerList = new LayerList({//图层列表
                view: view
            });
            var layerExpand=new Expand({
               view:view,
               content:layerList
            });

            view.ui.add(ccWidget, "bottom-left");//添加比例尺
            view.ui.add(search, "top-right");//搜索框
            view.ui.add(bgExpand, "top-left");
            view.ui.add(layerExpand, "top-left");
            view.ui.add(toggle,"top-left");//当前视图，下一个视图
            // view.ui.add("line-button","top-middle");



            /***
             * 定义弹出框
             */
//            var locatorTask = new Locator({
//                url: "https://geocode.arcgis.com/arcgis/rest/services/World/GeocodeServer"
//            });



            map.add(featureLayer);
            map.add(tileLayer1);
            map.add(tileLayer);
            map.add(mapImageLayer);

            map.add(featureLayerOcean);
            map.add(featureLayerOcean1);
            map.add(featureLayerOcean2);
            map.add(featureLayerOcean3);
            map.add(featureLayerOcean4);
            map.add(featureLayerOcean5);
            map.add(sceneLayer);

            /***
             * 数据和事件定义
             */
            console.log(view.graphics);
            var position=[0,1,2,3,4,5,6,9,8,9,10];
            position[0]=[31.52,121.08];//纬度，经度
            position[1]=[31.53,121.18];
            position[2]=[31.6,121.28];
            position[3]=[31.71,121.38];
            position[4]=[31.81,121.58];
            position[5]=[31.54,121.58];
            position[6]=[31.55,121.78];
            position[7]=[31.56,121.88];
            position[8]=[31.51,121.98];
            position[9]=[31.52,121.08];

            var positionOcean=[0,1,2,3,4,5,6,9,8,9,10];
            positionOcean[0]=[-80.03,26.76];
            positionOcean[1]=[-80.03,26.77];
            positionOcean[2]=[-80.07,26.33];
            positionOcean[3]=[-80.06,26.43];
            positionOcean[4]=[-80.04,26.53];
            positionOcean[5]=[-80.02,26.69];
            positionOcean[6]=[-80.03,26.73];
            positionOcean[7]=[-80.05,26.89];
            positionOcean[8]=[-80.05,26.91];
            positionOcean[9]=[-80.06,26.94];
            positionOcean[10]=[-80.04,26.77];


            view.when(function () {
                view.popup.autoOpenEnabled = false;
                console.log(view.popup);
                view.on("click",function(event){
                    if (event && event.mapPoint){
                        var message=document.getElementById("message");
                        console.log("do it");
                        var lon=Math.round(event.mapPoint.longitude*1000)/1000;
                        var lat=Math.round(event.mapPoint.latitude*1000)/1000;
                        var hei=Math.round(event.mapPoint.height*1000)/1000;

                        view.popup.open({
                            title: "所在位置: [" + lon + ", " + lat + ","+hei+"]",
                            location: event.mapPoint,// Set the location of the popup to the clicked location
                            content: setContentInfo(
                                view.center,
                                view.scale
                            )
                        });
                        console.log(lon);
                        message.innerHTML = "经度："+lat+ ",维度：" +lon;
                    }else {
                        view.popup.open({
                            // Set the popup's title to the coordinates of the location
                            title: "Invalid point location",
                            location: event.mapPoint, // Set the location of the popup to the clicked location
                            content: "Please click on a valid location."
                        });
                    }
                    function setContentInfo(center, scale) {
                        var popupDiv = document.createElement("div");
                        popupDiv.classList.add("mapView");

                        var popupView = new SceneView({
                            container: popupDiv,
                            // map: new Map({
                            //     basemap: "oceans"
                            // }),
                            map:map,
                            center: center,
                            camera:view.camera,
                            scale: scale * 1000 * Math.max(view.width / 100, view.height / 100),
                            constraints: {
                                rotationEnabled: false
                            },
                            ui: {
                                components: []
                            }
                        });
                        // Return a dom node
                        console.log(popupView.container);
                        return popupView.container;
                    }
                });

            });



            view.on("layerview-create",function(event){
                if(event.layer.id==='HA'){
                    console.log(event.layerView);
                }
            });
            //是否显示海岸线
            // var checkVisible=document.getElementById("canVisible");
            // checkVisible.addEventListener("change",function(){
            //     tileLayer1.visible=checkVisible.checked;
            // });

            function events(){
                view.on("key-down",function(event){
                    if(event.key=='1'){
                        map.add(featureLayerOcean);
                    }
                    if(event.key=='2'){
                        map.add(featureLayerOcean1);
                    }
                    if(event.key=='3'){
                        map.add(cjwFeatureLayerOcean);
                    }
                    if(event.key=='4'){
                        map.add(tileLayer);
                    }
                    if(event.key=='5'){
                        map.add(tileLayer1);
                    }
                    if(event.key=='6'){
                        map.add(sceneLayer);
                    }
                    if(event.key=='w'){
                        var polyline = new Polyline({
                            paths: [
                                position[0],
                                position[1]
                            ]
                        });
                        console.log(polyline);

                        // Create a symbol for drawing the line
                        var lineSymbol = new SimpleLineSymbol({
                            color: [226, 119, 40],
                            width: 10
                        });

                        // Create a line graphic
                        var polylineGraphic = new Graphic({
                            geometry: polyline,
                            symbol: lineSymbol
                        })

                        // Add the graphic to the view
                        view.graphics.add(polylineGraphic);
                        for(var i=0;i<position.length-1;i++){
                            var polyline = new Polyline({
                                paths: [
                                    position[i],
                                    position[i+1]
                                ]
                            });
                            console.log(polyline);

                            // Create a symbol for drawing the line
                            var lineSymbol = new SimpleLineSymbol({
                                color: [226, 119, 40],
                                width: 10
                            });

                            // Create a line graphic
                            var polylineGraphic = new Graphic({
                                geometry: polyline,
                                symbol: lineSymbol
                            })

                            // Add the graphic to the view
                            view.graphics.add(polylineGraphic);
                            console.log("do it");
                        }
                    }
                    if(event.key==='d'){
                        var options = {
                            speedFactor: 0.3, //与正常情况下相比的速度
                            easing: "out-quint"//到达时会有一个减速动作
                        };
                        var i=0;
                        var timer=window.setInterval(move,4000);
                        function move(){
                            var tempPosition=positionOcean[i];

                            var point=new Point();
                            point.longitude=tempPosition[0];
                            point.latitude=tempPosition[1];

                            var symbol=new SimpleMarkerSymbol({
                                color:[226,119,40],
                                outline:{
                                    color:[255,255,255],
                                    width:3
                                }
                            });

                            var pointGraphic=new Graphic();
                            pointGraphic.geometry=point;
                            pointGraphic.symbol=symbol;
                            view.graphics.add(pointGraphic);
                            view.goTo({
                                target:pointGraphic,
                                zoom:12
                            },options);
                            i++;
                            if(i===positionOcean.length){
                                window.clearInterval(timer);
                            }
                        }
                    }
                    if(event.key=='a') {
                        var options = {
                            speedFactor: 0.1, //与正常情况下相比的速度
                            easing: "out-quint"//到达时会有一个减速动作
                        };
                        view.goTo({
                            target:[121.08,31.52],
                            zoom:10
                        });
                        setTimeout(10000);
                        if(view.center.longitude!==121.08 && view.center.latitude!==31.52){
                            setTimeout(20000);
                            console.log(view.center);
                        }
                        var timer=window.setInterval(move,3000);
                        var i=0;
                        var highLight=null;
                        function move () {

                            var value=position[i];
                            var point = new Point();
                            var markerSymbol = new SimpleMarkerSymbol({
                                color: [226, 119, 40],
                                outline: {
                                    color: [255, 255, 255],
                                    width: 1
                                }
                            });
                            var pointGraphic = new Graphic();
                            point.longitude = value[1];
                            point.latitude = value[0];

                            pointGraphic.geometry = point;
                            pointGraphic.symbol = markerSymbol;

                            view.goTo({
                                target: pointGraphic
                                // zoom:11
                            });
                            setTimeout(function () {
                                view.goTo({
                                    target: pointGraphic
                                    // zoom:11
                                },options);
                            },3000);
                            i++;
                            if(i===position.length){
                                i=0;
//                            window.clearTimeout(timer);
                            }
                        };

                    }

                });
            };
            events();

        });
    </script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">海洋GIS</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class=""><a href="#">GIS1</a></li>
                    <li><a href="#">GIS2</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            GIS3 <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li class="divider"></li>
                            <li><a href="#">4</a></li>
                            <li class="divider"></li>
                            <li><a href="#">5</a></li>
                        </ul>
                    </li>
                </ul>
                <!--<form class="navbar-form navbar-right" th:action="${'#'}" th:method="${'post'}">-->
                    <!--<div class="form-group">-->
                        <!--<input type="text" class="form-control" placeholder="输入经纬度，隔开">-->
                    <!--</div>-->
                    <!--<button type="submit" class="btn btn-default">查找</button>-->
                <!--</form>-->
            </div>
        </div>
    </nav>
    <!--<ul class="navbar-nav">-->
    <!--<li class="nav-item">-->
    <!--<a class="nav-link" href="#">GIS</a>-->
    <!--</li>-->
    <!--<li class="nav-item">-->
    <!--<a class="nav-link" href="#">GIS2</a>-->
    <!--</li>-->
    <!--<li class="nav-item">-->
    <!--<a class="nav-link" href="#">GIS2</a>-->
    <!--</li>-->
    <!--</ul>-->
    <!--<span class="navbar-text" >-->
    <!--Navbar text-->
    <!--</span>-->
    <!--<span id="visible" class="navbar-text" th:class="${'glyphicon glyphicon-eye-open navbar-text'}">-->
    <!--<input type="checkbox" id="canVisible" class="navbar-text"/>-->
    <!--海岸线可见性-->
    <!--</span>-->
    <!--<span class="glyphicon glyphicon-home" aria-hidden="true">-->
    <!--lalala-->
    <!--</span>-->
    <!--<button type="button" class="btn btn-default navbar-btn">Sign in</button>-->
    <div id="view">
        <div id="line-button" class="esri-widget esri-widget--button esri-interactive" title="画线">
            <span class="esri-icon-polyline"></span>
        </div>
        <div id="area-button" class="esri-widget esri-widget--button esri-interactive" title="画面">
            <span class="esri-icon-polygon"></span>
        </div>
        <div id="point-button" class="esri-widget esri-widget--button esri-interactive" title="画点">
            <span class="esri-icon-radio-checked"></span>
        </div>
        <div id="circle-button" class="esri-widget esri-widget--button esri-interactive" title="画圆">
            <span class="esri-icon-radio-unchecked"></span>
        </div>
        <div id="rectangle-button" class="esri-widget esri-widget--button esri-interactive" title="画矩形">
            <span class="esri-icon-checkbox-unchecked"></span>
        </div>
        <div id="message" style="width:160px;font-size: 10px; color: #000000;position:absolute; left:50%; bottom:16px;z-index: 50;"></div>
    </div>
    <div id="overviewDiv">
        <div id="extentDiv"></div>
    </div>
</body>
</html>