<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>Custom TileLayer - 4.10</title>

    <link rel="stylesheet" href="http://localhost:8081/js/library/4.10/esri/css/main.css">

    <style>
        html,
        body,
        #mapCanvas {
            padding: 0;
            margin: 0;
            height: 100%;
            width: 100%;
        }
    </style>
    <script>
        var dojoConfig = {
            paths: {
                // plugins: location.pathname.replace(/\/[^/]+$/, "") + "/plugins"
                plugins:"/plugins"
            }
        };
    </script>

    <script src="http://localhost:8081/js/library/4.10/init.js"></script>

    <script>
        var map, rasterLayer;
        var canvasSupport;
        require([
            "esri/map", "esri/layers/TileLayer",
            "esri/domUtils", "esri/request",
            "dojo/parser", "dojo/number", "dojo/json", "dojo/dom",
            "dijit/registry", "plugins/RasterLayer","esri/layers/WebTileLayer",
            "esri/config",
            "dojo/domReady!"
        ], function(
            Map, TileLayer,
            domUtils, esriRequest,
            parser, number, JSON, dom,
            registry, RasterLayerForGIS, WebTileLayer, esriConfig
        ) {
            parser.parse();
            // does the browser support canvas?
            canvasSupport = supports_canvas();
            console.log(canvasSupport);

            map = new Map("mapCanvas", {
                center: [116.8,17.14],
                zoom: 3,
                basemap: "satellite",
                logo:false
            });

            map.on("load", mapLoaded());

            function mapLoaded() {

                // Add raster layer
                if ( canvasSupport ) {
                    console.log("mapLOaded");
                    rasterLayer = new RasterLayerForGIS(null, {
                        opacity: 0.55
                    });
                    map.addLayer(rasterLayer);

                    map.on("extent-change", redraw);
                    map.on("resize", function(){});
                    map.on("zoom-start", redraw);
                    map.on("pan-start", redraw);

                    var layersRequest = esriRequest({
                        url: '/json/gfs.json',
                        content: {},
                        handleAs: "json"
                    });
                    layersRequest.then(
                        function(response) {
                            console.log(response);
                            windy = new Windy({ canvas: rasterLayer._element, data: response });
                            redraw();
                        }, function(error) {
                            console.log("Error: ", error.message);
                        });

                } else {
                    dom.byId("mapCanvas").innerHTML = "This browser doesn't support canvas. Visit <a target='_blank' href='http://www.caniuse.com/#search=canvas'>caniuse.com</a> for supported browsers";
                }
            }

            // does the browser support canvas?
            function supports_canvas() {
                return !!document.createElement("canvas").getContext;
            }

            function redraw(){

                rasterLayer._element.width = map.width;
                rasterLayer._element.height = map.height;

                windy.stop();

                var extent = map.geographicExtent;
                setTimeout(function(){
                    windy.start(
                        [
                            [0,0],[map.width, map.height]
                        ],
                        map.width,
                        map.height,
                        [
                            [extent.xmin, extent.ymin],[extent.xmax, extent.ymax]
                        ]
                    );
                },500);
            }
        });
    </script>
</head>

<body>
<div id="mapCanvas"></div>
</body>

</html>