<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>Custom TileLayer - 4.10</title>

    <link rel="stylesheet" href="https://js.arcgis.com/4.10/esri/css/main.css">

    <style>
        html,
        body,
        #viewDiv {
            padding: 0;
            margin: 0;
            height: 100%;
            width: 100%;
        }
    </style>

    <script src="https://js.arcgis.com/4.10/"></script>
    <script src="/js/windy.js"></script>
    <script>
        require([
            "esri/Map",
            "esri/request",
            "esri/Color",
            "esri/views/SceneView",
            "esri/widgets/LayerList",
            "esri/layers/BaseTileLayer",

            "dojo/parser",
            "dojo/number",
            "dojo/json",
            "dojo/dom",
            "dijit/registry",
            "esri/config",
            "dijit/registry",
            "dojo/domReady!"
        ], function(
            Map, esriRequest, Color,
            SceneView, LayerList, BaseTileLayer,parser, number, JSON, dom,ImageryLayer,config,registry
        ) {

            var layersRequest = esriRequest({
                url: '/json/gfs.json',
                content: {},
                handleAs: "json"
            });
            layersRequest.then(
                function(response) {
                    var canvas = document.createElement("canvas");
                    var context = canvas.getContext("2d");
                    canvas.width = 100;
                    canvas.height = 100;
                    var windy = new Windy({ canvas: canvas, data: response });
                    // redraw();
                    console.log(canvas);
                }, function(error) {
                    console.log("Error: ", error.message);
                });
        });
    </script>
</head>

<body>
<div id="viewDiv"></div>
</body>

</html>